* {
    box-sizing: border-box;
}

#input {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#table {
    background-color: #f1f1f1;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #c4c4c4;
    font-size: 12px;
}

#table th, #table td {
    padding: 12px;
    border: 1px solid #c4c4c4;
    text-align: center;
    height: 40px;
}

/*#table tr {
    border-bottom: 1px solid #c4c4c4;
    vertical-align: center;
}*/


#table th.header1 {
    position: -webkit-sticky;
    position: sticky;
    top: 85px;
    /*background-color: #e2e1e1;*/
}

#table th.header2 {
    position: -webkit-sticky;
    position: sticky;
    top: 125.5px;
    /*background-color: #e2e1e1;*/
}

/*#table th.header2 {
    position: -webkit-sticky;
    position: sticky;
    top: 39px;
    background-color: #e2e1e1;
}*/